    
    <h1> About Us  <h1>
    
    <h2>Since its foundation on 3 June 1765, Lloyds Bank has been serving the households, businesses and communities 
    of Britain. And, in 2015 we’re celebrating 250 years of helping the people of Britain with the things that matter 
    most to them. </h2>

    <h3>We offer a comprehensive range of financial products and services – including current accounts, savings, 
    mortgages, loans and credit cards.<h3>

    <h2>Our heritage <h2>
    <p1>The origins of ABC Bank stretch back to 1920, when jJohn Maccoy and Harry Winston set up a private banking 
    business in Birmingham.<p2>
        <br><br>
        
        <%= link_to " Back", root_path, class: 'btn btn-primary'  %>