    
    <div style="background-color: #f2f2f2 ;color#262626:;padding:35px;size=5">
    <h2> About Us  </h2>
    
    <h4>Since its foundation on 3 June 1765, ABC Bank has been serving the households, businesses and communities 
    of Britain. And, in 2015 we’re celebrating 250 years of helping the people of Britain with the things that matter 
    most to them. </h4>

    <h5>We offer a comprehensive range of financial products and services – including current accounts, savings, 
    mortgages, loans and credit cards.</h5>

    <h3>Our heritage </h3>
    <h4>The origins of ABC Bank stretch back to 1920, when John Maccoy and Harry Winston set up a private banking 
    business in Birmingham.<h4>
        <br><br>
        
        <%= link_to " Back", root_path, class: 'btn btn-primary'  %>