<h1> Welcome to the ABC banking new website. </h1>

<%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %> <br/>
	<br><br><br><br><br>
<%= link_to 'Sign in', new_user_session_path, class: 'btn btn-primary btn-lg' %>